@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #20262E;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}


header{
    width: 86%;
    height: 88%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .menu_side, .song_side{
    position: relative;
    width: 25%;
    height: 87%;
    /* border: 1px solid white; */
    background-color: #913175;
    box-shadow: 1px 1px 1px 1px #913175;
    color: white;
}

header .song_side{
    width: 75%;
    background-color: #CD5888;
}

header .master_play{
    width: 100%;
    height: 13%;
    background-color: #913175;
}

header .menu_side h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: bolder;
}

header .menu_side .playlist{
    margin: 40px 0px 0px 20px;
}

header .menu_side .playlist h4{
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 10px;
    color: lightgrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menu_side .playlist h4:hover{
    color: black;
}

header .menu_side .playlist h4 span{
    position: relative;
    margin-right: 35px;
}

header .menu_side .playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid lightgray;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menu_side .playlist h4:hover span::before{
    border: 2px solid black;
}

header .menu_side .playlist h4 i{
    display: none;
}

header .menu_side .playlist .active{
    color: lightgray;
}
header .menu_side .playlist .active span{
    display: none;
}

header .menu_side .playlist .active i{
    display: flex;
    margin-right: 20px;
}

header .menu_side .song_menu{
    width: 100%;
    height: 313px;
    /* border: 1px solid white; */
    margin-top: 10px;
}

header .menu_side .song_menu li{
    position: relative;
    list-style-type: none;
    padding: 8px 0px 0px 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    top:0px;
    cursor: pointer;
    transition: .3s linear;
}
header .menu_side .song_menu li:hover{
    background: #20262E;
}
header .menu_side .song_menu li span{
    font-size: 14px;
    font-weight: bolder;
    color: lightgray;
}

header .menu_side .song_menu li img{
    width: 35px;
    height: 35px;
    margin-left: 25px;
    /* margin-bottom: 3px; */
    top:auto;
}

header .menu_side .song_menu li h5{
    font-size: 12px;
    margin-left: 12px;
}

header .menu_side .song_menu li .subtitle{
    font-size: 9px;
    color: lightgray;
}

header .menu_side .song_menu li i{
    position: absolute;
    right: 20px;
    top: 20px;
}

header .master_play{
    display: flex;
    align-items: center;
}

header .master_play .empty{
    width: 40px;
    height: 150px;
}
/* -------------------------animations -------------------------*/

.animation{
    height: 150px;
    /* bottom: 40px; */
    display: flex;
    transform: rotate(180deg);
  }
  .animation span{
    width: 4px;
    margin: 0 2px;
    border-radius: 6px;
    /* background-color: #fff; */
    animation: loader 2s infinite;
  }
  @keyframes loader{
    0%, 100%{
      height: 15px;
      background: #0081C9;
    }
    25%{
      height: 95px;
      background: #FFB100;
    }
    50%{
      height: 50px;
      background: #54B435;
    }
    75%{
      height: 95px;
      background: #FF6464;
    }
  }
  .animation span:nth-child(1){
    animation-delay: .2s;
  }
  .animation span:nth-child(2){
    animation-delay: .4s;
  }
  .animation span:nth-child(3){
    animation-delay: .6s;
  }
  .animation span:nth-child(4){
    animation-delay: .8s;
  }
  .animation span:nth-child(5){
    animation-delay: 1s;
  }

  /* --------------------------------------- */
  header .master_play img{
    width: 35px;
    height: 35px;
    margin: 10px;
}

header .master_play h5{
    color: white;
    font-size: 10px;
}

header .master_play h5 .subtitle{
    font-size: 9px;
    color: lightgray;
}

header .master_play .icons{
    color: white;
    align-items: center;
    /* position: relative; */
    margin-left: 110px;
}

header .master_play .icons i{
    padding: 0px 9px;
    cursor: pointer;
}

header .master_play .timer{
    color: white;
    font-size: bolder;
    padding: 0px 6px;
}

header .master_play #currentstart{
    margin: 0px 0px 0px 20px;
}

header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background:#CD5888;
    margin: 0px 15px 0px 10px;
}

header .master_play .bar .bar2{
    position: absolute;
    background: black;
    width:0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    left: 0;
    top: -2px;
    transition: 1s linear;
}

header .master_play .bar .dot::before{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid black;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px black;
}

header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: -4px;
    cursor: pointer;
    z-index: 999999999;
    transition: 3s linear;
    opacity: 0;
}

header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: #CD5888;
}

header .master_play .vol i{
    position: absolute;
    color: white;
    top: -8px;
    left: -32px;
}

header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -8px;
    left: -4px;
    cursor: pointer;
    z-index: 999999999;
    transition: 3s linear;
    opacity: 0;
}

header .master_play .vol .vol_bar{
    position: absolute;
    background: black;
    width:0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    left: 0;
    top: -2px;
    transition: 1s linear;
}

header .master_play .vol .dot::before{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid black;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px black;
}

header .song_side{
    z-index: 2;
}

header .song_side nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    margin:auto;
    /* border: 1px solid white; */
}

header .song_side nav ul{
    display: flex;
}

header .song_side nav ul li{
    list-style-type: none;
    position: relative;
    font-size: 14px;
    font-weight: 900;
    color: lightgrey;
    margin:0px 12px;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side nav ul li:hover{
    color: black;
}

header .song_side nav ul li:nth-child(1){
    color: black;
}

header .song_side nav ul li span{
    position: absolute;
    width: 58px;
    height: 2px;
    background: black;
    top: 17px;
    left: -1px;
    border-radius: 50%;
}

header .song_side nav .search{
    position: relative;
    width: 45%;
    margin-bottom: 2px;
    margin-right: 40px;
    color: black;
}

header .song_side nav .search::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 28px;
    /* top: 1spx; */
    border-radius: 20px;
    background: lightgray;
    backdrop-filter:blur(5px);
    z-index: -1;
}

header .song_side nav .search i{
    padding: 6px 0px 0px 10px;
}

header .song_side nav .search input{
    background:none ;
    border: none;
    outline: none;
    width: 230px;
    margin-left: 10px;
    color: black;
    font-weight: bolder;
}

header .song_side nav .user{
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

header .song_side nav .user img{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

header .song_side .content{
    width: 90%;
    height: 33%;
    margin: auto;
    padding-top: 20px;
    /* border: 1px solid white; */
}

header .song_side .content h1{
    font-size: 32px;
    font-weight: bolder;
}

header .song_side .content p{
    margin: 5px;
    color: lightgray;
    font-weight: bolder;
} 

header .song_side .content .buttons{
    margin: 12px;
}

header .song_side .content .buttons button{
    width: 130px;
    height: 30px;
    border: 1px solid #913175;
    outline: none;
    /* background-color: black; */
    background: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
}

header .song_side .content .buttons button:hover{
    background-color: #913175;
}

header .song_side .popular_songs{
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid white; */
    /* margin-top: 15px; */
}

header .song_side .popular_songs .h4{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_songs .h4 i{
    margin: 0px 10px;
    color: lightgray;
    cursor: pointer;
    transition: .3s linear;
}

header .song_side .popular_songs .h4 i:hover{
    color: black;
}

header .song_side .popular_songs .pop_song{
    width: 100%;
    height: 150px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header .song_side .popular_songs .pop_song::-webkit-scrollbar{
    display: none;
}

header .song_side .popular_songs .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}

header .song_side .popular_songs .pop_song li:hover{
    background:#913175
}

header .song_side .popular_songs .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .song_side .popular_songs .pop_song li .img_play img{
    width: 100%;
    height: 100%;
}

header .song_side .popular_songs .pop_song li .img_play i{
    position: absolute;
    cursor: pointer;
    color: white;
    font-weight:bolder;
    transition: .3s linear;
    opacity: 0;
}

header .song_side .popular_songs .pop_song li .img_play:hover i{
    opacity: 1;
}

header .song_side .popular_songs .pop_song li h5{
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 12px;
}

header .song_side .popular_songs .pop_song li h5 .subtitle{
    font-size: 9px;
    color: lightgray;
}

header .song_side .popular_artists{
    width: 90%;
    height: auto;
    margin: auto;
    /* top: -10px; */
    /* border: 1px solid white; */
    /* margin-top: 15px; */
}

header .song_side .popular_artists .h4{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .song_side .popular_artists .h4 i{
    margin: 0px 10px;
    cursor: pointer;
    color: lightgray;
    transition: .3s linear;
}

header .song_side .popular_artists .h4 i:hover{
    color: black;
}

header .song_side .popular_artists .item{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

header .song_side .popular_artists .item::-webkit-scrollbar{
    display: none;
}

header .song_side .popular_artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 50px;
    height: 50px;
    /* background-color: white; */
    border-radius: 50%;
    margin-right: 20px;
}

header .song_side .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}